* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h4 {
  font-size: 18px;
}

main {
  background-color: #e8e8e8;
}

header {
  background-color: #000;
  height: 100px;
}
header .container {
  max-width: 1300px;
  margin: auto;
}
header .header-top {
  height: 45px;
}
header .header-top nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
header .header-top nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .header-top nav ul li {
  padding-right: 30px;
}
header .header-top nav ul li a {
  color: #989898;
}
header .header-top nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
header .header-top nav ul li i {
  color: #009cff;
  padding-right: 10px;
}
header .header-top nav select {
  padding-right: 10px;
  border: none;
}
header .header-bottom {
  height: calc(100px - 45px);
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.navbar img {
  padding: 0 30px 0 0;
  height: 30px;
  margin-bottom: 10px;
}
.navbar img:hover {
  cursor: pointer;
}
.navbar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.navbar ul li {
  padding: 0 30px;
  line-height: calc(100px - 45px);
}
.navbar ul li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.navbar ul li:hover a {
  color: #000;
}
.navbar ul li a {
  font-size: 14px;
  color: #fff;
}

.btn-bg-black {
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.btn-bg-black:hover {
  opacity: 0.85;
}

.btn-bg-none {
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: #000;
}
.btn-bg-none:hover {
  opacity: 0.85;
}

.jumbotron {
  background-image: url("../img/bg-painter-home.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 30px 0 40px 0;
}
.jumbotron .author {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.jumbotron .container {
  max-width: 1300px;
  margin: auto;
}
.jumbotron .title {
  padding: 50px 0;
  width: 45%;
}
.jumbotron .title img {
  height: 55px;
}
.jumbotron .title h1 {
  font-weight: normal;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.jumbotron .title .sale {
  color: #c70cb9;
  font-size: 17px;
  font-style: italic;
  margin-bottom: 30px;
}
.jumbotron .title button {
  margin-right: 30px;
}

#more .container {
  max-width: 1300px;
  margin: auto;
}
#more .title {
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  padding: 30px;
}
#more .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#more .cards .card {
  flex-basis: 33%;
  padding: 0 10px;
}
#more .cards .card .relative {
  position: relative;
}
#more .cards .card .relative img {
  width: 100%;
}
#more .cards .card .relative .artist {
  position: absolute;
  bottom: 12px;
  right: 15px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
#more .cards .card .content {
  padding: 20px;
}
#more .cards .card .content span {
  color: #009cff;
  text-transform: uppercase;
  font-style: italic;
  margin-right: 10px;
}
#more .cards .card .content p {
  font-size: 17px;
  margin: 20px 0;
}
#more .cards .card .content a {
  color: #009cff;
  font-size: 16px;
}
#more .cards .card .content a:hover {
  text-decoration: underline;
}
#more .cards .card:hover {
  cursor: pointer;
}

footer .nav-footer {
  background-color: #f1f1f1;
  padding: 50px 0 30px 0;
}
footer .nav-footer .container {
  max-width: 1300px;
  margin: auto;
}
footer .nav-footer .nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
footer .nav-footer .nav-list ul {
  flex-basis: 25%;
  padding-bottom: 30px;
}
footer .nav-footer .nav-list ul li {
  padding-top: calc(5px);
}
footer .nav-footer .nav-list ul li:first-child {
  margin-bottom: 10px;
}
footer .nav-footer .nav-list ul li:first-child span {
  font-size: 16px;
}
footer .nav-footer .nav-list ul li a {
  color: #353535;
}
footer .nav-footer .nav-list ul li a:hover {
  color: #000;
  text-decoration: underline;
}
footer .nav-footer .social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
footer .nav-footer .social span {
  margin-right: 20px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
}
footer .nav-footer .social span a {
  font-size: 20px;
  color: #fff;
}
footer .nav-footer .social span.instagram {
  background-color: #e4405f;
}
footer .nav-footer .social span.facebook {
  background-color: #3b5998;
}
footer .nav-footer .social span.twitter {
  background-color: #1da1f2;
}
footer .nav-footer .social span.youtube {
  background-color: #cd201f;
}
footer .nav-footer .social span.pintarest {
  background-color: #bd081c;
}
footer .nav-footer .social span.rss {
  background-color: #ff8d00;
}

.credits {
  background-color: #1e1e1e;
  padding: 10px;
}
.credits .container {
  max-width: 1300px;
  margin: auto;
}
.credits .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.credits .copyright .logo img {
  margin-right: 20px;
}
.credits .copyright .copy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  color: #fff;
}
.credits .copyright .copy ul li {
  margin-right: 20px;
}
.credits .copyright .copy ul li a {
  color: #989898;
}
.credits .copyright .copy ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
