.btn-bg-black {
    @include btnBig;
    &:hover {
        opacity: 0.85;
    }
}

.btn-bg-none {
    @include btnBig;
    background-color: $colorNone;
    color: $colorBlack;
    &:hover {
        opacity: 0.85;
    }
}