@mixin container {
    .container {
        max-width: 1300px;
        margin: auto;
    }    
}

@mixin flex($justify:center, $align:center, $direction:row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin btnBig {
    padding: $padding-10 $padding-30;
    background-color: $colorBlack;
    color: $colorWhite;
    border: 2px solid $colorBlack;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}