//Colors

$colorNone: transparent;
$colorBlack: #000;
$colorLightBlack: #1e1e1e;
$colorGray: #989898;
$colorDarkGray: #353535;
$coloLightGray: #f1f1f1;
$colorOceanBlue: #009cff;
$colorWhite: #fff;
$colorWhite-06: rgba(255, 255, 255, 0.6);
$colorPurple: #c70cb9;
$colorInstagram: #e4405f;
$colorFacebook: #3b5998;
$colorTwitter: #1da1f2;
$colorYoutube: #cd201f;
$colorPinterest: #bd081c;
$colorRss: #ff8d00;



// Height - Width

$heightFather: 100%;
$headerHeight: 100px;
$headerTopHeight: 45px;
$headerBottomHeight: calc(#{$headerHeight} - #{$headerTopHeight});

$navbarImgHeight: 30px;
$jumbotronImgHeight: 55px;

$jumbotronTitleWidht: 45%;


// Padding - Margin

$padding-10: 10px;
$padding-20: 20px;
$padding-30: 30px;
$padding-40: 40px;
$padding-50: 50px;

$margin-10: 10px;
$margin-20: 20px;
$margin-30: 30px;

// Border

$noBorder: none;